.App {
  text-align: center;

  /*Moved from header*/
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-header {
  
} */

.App-link {
  color: #61dafb;
}

/* .button_finished {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 32px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_finished:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button_finished {
    padding: 10px 30px;
  }
} */

.button_finished {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  background-color: #1b8bf9;
  padding: 15px 50px;
  border-radius: 5rem;
  box-shadow: 1px 2.9px 16px rgba(27, 139, 249, 0.4);
  transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
}

.button_finished:hover {
  box-shadow: 3px 4.9px 16px rgba(27, 139, 249, 0.6);
  letter-spacing: 5px;
}

.button_finished--clicked {
  transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
  padding: 15px 2px;
  width: auto;
  height: auto;
  color: transparent;
  z-index: -10;
}

.color {
  display: block;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: 0.8s ease;
  border-radius: 50%;
  background-color: transparent;
}

.expanded {
  width: 200%;
  padding-bottom: 200%;
  height: auto;
}

.color--blue {
  background-color: #1b8bf9;
  transition-delay: 0.25s;
}

.color--orange {
  background-color: #FF6C19;
  transition-delay: 0.5s;
}

.color--green {
  background-color: #41FF9F;
  transition-delay: 0.75s;
}

.color--white {
  background-color: #f9f9f9;
  transition-delay: 1s;
}

.color--back {
  background-color: #282c34;
  transition-delay: 1.25s;
}